<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Storage_Management_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Storage_Management_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span class="navbar-brand fw-bold fs-4">Управление складом</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Склад -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="warehouseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Склад
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="warehouseDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/Index">Главная</a>
                                </li>
                            </ul>
                            <ul class="dropdown-menu" aria-labelledby="warehouseDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/Index">Главная</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Справочники -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="referenceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Справочники
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="referenceDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/UnitsOfMeasurement">Единицы измерения</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/Resources">Ресурсы</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/Clients">Клиенты</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Storage_Management_Application
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>