<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Storage_Management_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Storage_Management_Application.styles.css" asp-append-version="true" />
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span class="navbar-brand fw-bold fs-4">Управление складом</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar"> 
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item d-flex flex-row me-2">
                            <a class="btn btn-outline-primary me-1" asp-page="/BalancePage">Баланс</a>
                            <a class="btn btn-outline-primary me-1" asp-page="/ReceiptPage">Поступления</a>
                            <a class="btn btn-outline-primary me-1" asp-page="/">Отгрузки</a>
                        </li>

                        <!-- Справочники -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Справочники
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-page="/UnitsOfMeasurement">Единицы измерения</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Resources">Ресурсы</a>
                                </li>
                                <li>    
                                    <a class="dropdown-item" asp-page="/Clients">Клиенты</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Storage_Management_Application
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>